.masonry-grid {
  display: flex;
  margin-left: -20px; /* Adjust horizontal spacing */
  width: auto;
  margin-top: 100px;
}

.masonry-grid-column {
  padding-left: 20px; /* Horizontal spacing between columns */
  background-clip: padding-box;
}

.masonry-grid-item {
  margin-bottom: 10px; /* Vertical spacing between items */
}

/* global.css */
.example {
  font-family: "acumin-variable", sans-serif;
  font-variation-settings: "wght" 194.2857, "wdth" 100, "slnt" 0;
}
